.container_general{
    border-style: solid;
    border-color: hsl(0, 100%, 50%); 
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    max-width:80em;
    margin:auto;
  }

  .column_left{
    border-style: solid;
    border-color: hsl(111, 100%, 50%); 
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  .column_center{
    border-style: solid;
    border-color: hsl(232, 100%, 50%); 
    height: 100vh;
  }

  .column_right{
    border-style: solid;
    border-color: hsl(304, 100%, 50%); 
    height: 100vh;
  }

  .bird_logo{
    max-width: 33px;
    max-height: 34.6px;
}

.twitter_botton{
    width: 100%;
}

button{
    width:8em;
    display:flex;
}

.home{
    width:2em;
    
}

.word_home{
    font-style: bold;
}

.explore_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.explore{
    width:2em;
    
}

.word_explore{
    font-style: bold;
}

.notifications_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.notifications{
    width:2em;
    
}

.word_notifications{
    font-style: bold;
}

.messages_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.messages{
    width:2em;
    
}

.word_messages{
    font-style: bold;
}

.bookmark_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.bookmark{
    width:2em;
    
}

.word_bookmark{
    font-style: bold;
}

.lists_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.lists{
    width:2em;
    
}

.word_lists{
    font-style: bold;
}

.profile_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.profile{
    width:2em;
    
}

.word_profile{
    font-style: bold;
}

.more_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.more{
    width:2em;
    
}

.word_more{
    font-style: bold;
}

ul{
    list-style: none;
    padding:0;
}

.blue_botton{
    display:flex;
    justify-content: center;
}

li{
    line-height: 1em;
    margin:2em;
}

.foto_perfil{
    width:3em;
}

.avatar_button{
    width:16em;
    display: flex;
    align-items: center;   
}

.dots{
    width:2em;       
}

.avatar_button{
    width:100%;
    height: 4em;
    display:flex;
    justify-content: space-between;
    padding:2em;
}

.avatar_name{
    display:flex;

}

.nombre{
    text-align: left;
}

