*{

}

body{
   display:flex;
}

.bird_logo{
    max-width: 33px;
    max-height: 34.6px;
}


.flex_container{
    border: 1px solid black;    
}


.nav_container{
    border:1px solid red;   
    width:10em;
    margin-left:20em;
}

.home_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.home{
    width:2em;
    
}

.word_home{
    font-style: bold;
}

.explore_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.explore{
    width:2em;
    
}

.word_explore{
    font-style: bold;
}

.notifications_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.notifications{
    width:2em;
    
}

.word_notifications{
    font-style: bold;
}

.messages_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.messages{
    width:2em;
    
}

.word_messages{
    font-style: bold;
}

.bookmark_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.bookmark{
    width:2em;
    
}

.word_bookmark{
    font-style: bold;
}

.lists_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.lists{
    width:2em;
    
}

.word_lists{
    font-style: bold;
}

.profile_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.profile{
    width:2em;
    
}

.word_profile{
    font-style: bold;
}

.more_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.more{
    width:2em;
    
}

.word_more{
    font-style: bold;
}


.blueTwitter_button{
    display:flex;
    justify-content: center;
    
}

.foto_perfil{
    width:3em;
}

.avatar_button{
    width:16em;
    display: flex;
    align-items: center; 
    
}

.dots{
    width:2em;
       
}

.nombre{
    margin-left:0.5em;
}

.container_top{
    display:flex;    
}

.top{
    width: 60%;
    display:flex;
    justify-content: space-between;    
}

.star{
    width:1.5em;
}

.word_top{
    font-style: bold;
}

.foto_perfil2{
    width:2em;
}

.main_container{
    border:1px solid blue;  
    width: 50em; 
}

.box_text{
    border: 1px solid purple;
}

.avatar2{
    display:flex;
    
}

.place_text{
    display: flex;       
}

.text_width{
    width:32.2em;
}

.icons_container{
    display:flex;
    margin-left:2.7em;
    
}

.icons{
    display:flex;
    width:13em;
}

.tweet_transparent{
    display:flex;
    margin-left:13.3em;
    
}

.container_publicacion{
    border: 1px solid green;
    display: flex;
    width:60%;
}

.container_contenido{
    margin-left:0.6em;
    
}

.picture{
    width:2em;
}

.noticias{
    display:flex;
}

.column3{
    border:1px solid green;
}


