
.container_general{
    /* border-style: solid; 
    border-color: hsl(0, 100%, 50%);  */
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    max-width:80em;
    margin:auto; 
  }

  .column_left{
    /* border-style: solid; 
    border-color: hsl(111, 100%, 50%);   */
    max-height: 98vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .column_center{
    /* border-style: solid; 
    border-color: hsl(232, 100%, 50%);  */
    max-height: 140vh; 
    display:grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows:0.5fr 1fr 3fr 3fr;
  }

.column_center > div{
    /* border-style:solid; */
    /* border-color:hsl(0, 100%, 50%);   */
  }

.column_right > div{
    /* border-style:solid; */
    /* border-color:hsl(0, 100%, 50%);    */
}

.item_1{
    grid-column: 1/3;
}

.flex_container1{
    display:flex;
    justify-content: space-between;
    padding:0.5em;
    cursor: pointer;
}

.hidden_star{
    width:30px;
    height: 30px;
    border-radius: 50%;
    position:relative; 
    transition: 200ms;  
}

.hidden_star:hover{
    background-color: hsla(0, 14%, 86%, 0.48);
}

.home1{
    font-weight: 600;
    font-size: 1.5em;
    
}
.star{
    width:1.5em;
    position:absolute;
    margin-left:0.1em;
    margin-top:0.2em;
}

.flex_container2{
    display:flex;
    justify-content: center;
    padding:0.5em;
}

.foto_perfil1{
    width:4em;
    cursor: pointer;
}


.flex_container3{
    display:flex;
    flex-wrap: wrap;
}

.text_area{
    flex-basis:100%;
    height:8vh;   
}

.text{
    width:97%;
    height: 94%;
    font-size: 1.5em;
    color:grey; 
    outline:0;  
    border:none;
}

.icons{
    width:100%;
    height:6vh;
    display:flex;
    justify-content: space-between;   
}

.symbols{
    display:flex;
    width:11em;
}

.sym1{
    display:flex;
    width:1.5em;   
}

.sym2{
    display:flex;
    width:1.5em;   
}

.sym3{
    display:flex;
    width:1.5em;    
}

.sym4{
    display:flex;
    width:1.5em;    
}

.sym5{
    display:flex;
    width:1.5em;    
}

.sym6{
    display:flex;
    width:1.5em;   
}

.tweet_button{
    display:flex;
    align-items: center; 
}

button{
    cursor: pointer;
    outline:0;
    border:none;
    background-color: white;
    transition: 200ms;
}

button:hover{
    background-color:hsla(0, 14%, 86%, 0.48);
}

.button_tweet{
    display:flex;
    justify-content: center;
    border-radius:5em;
    background-color: lightblue;
    outline: 0;
    border:none;
    color:white;
    font-size: 1em;
    padding:0.5em;
    width:6em;
    margin-right:1em;
}

.button_tweet:hover{
    background-color: lightblue;
}

.item_4{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.circulo_1{
    display:flex;
    justify-content: center;
    outline:0;
    border:none;
    background-color: white;
}

.circulo1{
    width:6em;  
    height: 4em;
}

.flex_container5{
    display:flex;
    justify-content: space-between;
    width:100%;
    /* border-style:solid; */
    /* border-color:black; */
}

.button_text{
    display:flex;
    width: 100%;
    text-align: left;
}

.bmw{
     display:flex;
     
}

.dots1{
    height:2.5vh; 
    
}

.button_dots1{
    display:flex;
    justify-content: flex-end;   
    border-radius:3em;
    width:90%;
}


.body_text{
    display:flex;
    flex-wrap: wrap;
}

.png_bmw{
    width:40em;
}

.grey_bmw{
    color:grey;
}

.button_pictures{
    width:100%;
    justify-content: center;    
}
.icons_bottom{
    display:flex;
    width: 100%;
    justify-content: space-around; 
    /* border-style: solid; */
    /* border-color: black;  */
    max-height:2.5vh;   
    outline: 0;
    border:none; 
}

.button_talk{
    display:flex;
    justify-content: center;
    outline: 0;
    border:none;
    border-radius: 5em;
}

.button_arrow{
    display:flex;
    justify-content: center;
    outline: 0;
    border:none;
    border-radius: 5em;
}

.button_hearth{
    display: flex;
    justify-content: center;
    outline: 0;
    border:none;
    border-radius: 5em;
}

.button_upload{
    display:flex;
    justify-content: center;
    outline: 0;
    border:none;
    border-radius: 5em;

}

.talk{
    width:2em;
}

.arrow{
    width:2em;
}

.hearth{
    width:2em;
}

.upload{
    width:2em;
}

.circulo_2{
    display:flex;
    justify-content: center;
    outline:0;
    border:none;
    background-color: white;
    cursor: pointer;
}



.circulo2{
    width:4em;  
    height: 4em;
}

.png_netflix{
    width:40em;
}

.grey_netflix{
    color:grey;
}

.column_right{
    /* border-style: solid; */
    /* border-color: hsl(304, 100%, 50%);  */
    max-height: 100vh;
    display:grid;
    grid-template-rows: 0.5fr 6fr 3fr 0.5fr;
    margin-left:3em;
}

.search{
    width:85%;
    height: 2em;
    outline: 0;
    border:none;
    margin-left:1em;
    background-color:hsla(0, 7%, 92%, 0.615);
}

.search_button{
    display:flex;
}

.global_search{
    border-radius:5em;
    background-color: hsla(0, 14%, 86%, 0.48);
    padding:0.5em;
}

.search_icon{
    width:1.5em;
}

.textonly{
    /* border-style: solid; */
    /* border-color: black; */
    height: 4vh;
}

.readonly{
    font-size: 1.5em;
    width:60%;
    outline: 0;
    border:none;
}

.flex_container6{
    /* border-style: solid; */
    /* border-color:rgb(0, 0, 0); */
    margin-top:2em;
} 

.text_new{
    width:100%;
    /* border-style: solid; */
    /* border-color: blueviolet; */
    display:flex;
    justify-content: space-evenly;
    margin-top:0.5em;
    text-align: left;
}

.button_news{
    width:100%;
    height:10vh;
    display:flex;
    flex-direction: column;
}

.circulo1{
    cursor: pointer;
}

.button_more{
    width:100%;
    color:rgb(29, 155, 240);
    height:4vh;
    font-size:1.0em;
    display:flex;
    align-items: center;
}

.follow{
    border-style: solid;
    background-color: black;
    border-radius:5em;
    padding:0.3em;
}

.folo{
    font-size:1.3em;
    color:white;
}

a{
    text-decoration: none;
}



.footer_container{
    text-decoration: inherit;
}

a:hover{
    text-decoration: underline;
}

a>span{
    color:grey;
}


.bird_logo{
    max-width: 33px;
    max-height: 34.6px;
    position:absolute;
    top:0.7em;
    
}

.hidden_bird{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left:0.5em;
    transition: 200ms;  
    cursor:pointer; 
    position:relative; 
}

.hidden_bird:hover{
    background:lightblue
}

.twitter_botton{
    width: 100%;
}

button{
    width:8em;
    display:flex;
}

.home{
    width:2em;
    
}

.home_button{
    width:70%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
    
}

.hidden_home{
    cursor:pointer;
}

.hidden_home:hover .home_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.word_home{
    font-size:1.5em;
    margin-left:1em;
}

.explore_button{
    width:70%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}


.hidden_explore{
    cursor:pointer;
}

.hidden_explore:hover .explore_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.explore{
    width:2em;
    
}

.word_explore{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

.notifications_button{
    width:90%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}

.hidden_notifications{
    cursor:pointer;
}

.hidden_notifications:hover .notifications_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.notifications{
    width:2em;
    
}

.word_notifications{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

.messages_button{
    width:85%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}

.hidden_messages{
    cursor:pointer;
}

.hidden_messages:hover .messages_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}


.messages{
    width:2em;
    
}

.word_messages{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

.bookmark_button{
    width:90%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}

.hidden_bookmark{
    cursor:pointer;
}

.hidden_bookmark:hover .bookmark_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.bookmark{
    width:2em;
    
}

.word_bookmark{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

.lists_button{
    width:70%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}

.hidden_lists{
    cursor:pointer;
}

.hidden_lists:hover .lists_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.lists{
    width:2em;
    
}

.word_lists{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

.profile_button{
    width:80%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}

.hidden_profile{
    cursor:pointer;
}

.hidden_profile:hover .profile_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.profile{
    width:2em;
    
}

.word_profile{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

.more_button{
    width:70%;
    display:flex;
    justify-content: start;
    align-items: center;
    outline:0;
    border:none;
    background-color: white;
    background-color: transparent;
    transition: 200ms;
    padding:1em;
    cursor:pointer;
}

.hidden_more{
    cursor:pointer;
}

.hidden_more:hover .more_button{
    border-radius: 5em;
    background-color: hsla(0, 14%, 86%, 0.48);

}

.more{
    width:2em;
    
}

.word_more{
    font-style: bold;
    font-size:1.3em;
    margin-left:1em;
}

ul{
    list-style: none;
    padding:0;
}

.blue_button{
    display:flex;
    justify-content: center;
}

.button{
    display:flex;
    justify-content: center;
    border-radius: 5em;
    background-color: rgb(29, 155, 240);
    color:white;
    font-size:1em;
    width:13em;
    padding:1em;
    outline: 0;
    border:none;
    cursor: pointer;
    transition:200ms;
}

.button:hover{
    background-color:rgb(17, 140, 221);
}

li{
    line-height: 1em;
    margin:0.5em;
}

.foto_perfil{
    width:3em;
}

.avatar_button{
    width:100%;
    display: flex;
    align-items: center;   
    justify-content: space-around;
    outline:0;
    border:none;
    background-color: white;
    cursor: pointer;   
    border-radius: 5em;
    padding:1em;
}

.avatar_button:hover{
    background-color:hsla(0, 14%, 86%, 0.48);
}
.nombre{
    margin-left:1.5em;
    display:flex;
    align-items: center;
}

.dots{
    width:2em;       
}

.avatar_button2{
    width:100%;
    height: 4em;
    display:flex;
    justify-content: space-between;
    padding:2em;
    align-items: center;
    cursor: pointer;
}

.symbols_box{
    display:flex;
    border-radius:50%;
    height: 3vh;
    margin:0.5em;
    border-style: transparent; 
    transition:200ms;
    cursor: pointer;
   
}

.symbols_box:hover{
    background-color: lightblue;
}

.avatar_name{
    display:flex;
}

.nombre{
    text-align: left;    
}


