
.container_general{
    border-style: solid;
    border-color: hsl(0, 100%, 50%); 
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    max-width:80em;
    margin:auto;
    
  }

  .column_left{
    border-style: solid;
    border-color: hsl(111, 100%, 50%); 
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
  }

  .column_center{
    border-style: solid;
    border-color: hsl(232, 100%, 50%); 
    max-height: 100vh; 
    display:grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows:0.5fr 1fr 3fr 3fr
  }

.column_center > div{
    border-style:solid;
    border-color:hsl(0, 100%, 50%)   
  }

.item_1{
    grid-column: 1/3;
}

.flex_container1{
    display:flex;
    justify-content: space-between;
    padding:0.5em;
}

.home1{
    font-weight: 600;
    font-size: 1.5em;
}
.star{
    width:1.5em;
}

.flex_container2{
    display:flex;
    justify-content: center;
    padding:0.5em;
}

.foto_perfil1{
    width:4em;
}

.flex_container3{
    display:flex;
    flex-wrap: wrap;
}

.text_area{
    flex-basis:100%;
    height:8vh;   
}

.text{
    width:97%;
    height: 94%;
    font-size: 1.5em;
    color:grey; 
    outline:0;  
    border:none;
}

.icons{
    width:100%;
    height:6vh;
    display:flex;
    justify-content: space-between;   
}

.symbols{
    display:flex;
    width:11em;
}

.sym1{
    display:flex;
    width:1.5em;
    margin-left:0.5em;
}

.sym2{
    display:flex;
    width:1.5em;
    margin-left:1em;
}

.sym3{
    display:flex;
    width:1.5em;
    margin-left:1em;
}

.sym4{
    display:flex;
    width:1.5em;
    margin-left:1em;
}

.sym5{
    display:flex;
    width:1.5em;
    margin-left:1em;
}

.sym6{
    display:flex;
    width:1.5em;
    margin-left:1em;
}

.tweet_button{
    display:flex;
    align-items: center;   
}

.button_tweet{
    display:flex;
    justify-content: center;
}

.item_4{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.circulo_1{
    display:flex;
    justify-content: center;
    outline:0;
    border:none;
    background-color: white;
}

.circulo1{
    width:6em;  
    height: 4em;
}

.flex_container5{
    display:flex;
    justify-content: space-between;
    width:100%;
    border-style:solid;
    border-color:black;
}

.button_text{
    display:flex;
    width: 100%;
    text-align: left;
}

.bmw{
     display:flex;
}

.dots1{
    height:2.5vh; 
    
}

.button_dots1{
    display:flex;
    justify-content: flex-end;
    
}


.body_text{
    display:flex;
    flex-wrap: wrap;
}

.png_bmw{
    width:40em;
}

.grey_bmw{
    color:grey;
}

.button_pictures{
    width:100%;
    justify-content: center;
    
}
.icons_bottom{
    display:flex;
    width: 100%;
    justify-content: space-around; 
    border-style: solid;
    border-color: black; 
    max-height:2.5vh;   
    outline: 0;
    border:none; 
}

.button_talk{
    display:flex;
    justify-content: center;
    outline: 0;
    border:none;
}

.button_arrow{
    display:flex;
    justify-content: center;
    outline: 0;
    border:none;
}

.button_hearth{
    display: flex;
    justify-content: center;
    outline: 0;
    border:none;
}

.button_upload{
    display:flex;
    justify-content: center;
    outline: 0;
    border:none;
}

.talk{
    width:2em;
}

.arrow{
    width:2em;
}

.hearth{
    width:2em;
}

.upload{
    width:2em;
}

.circulo_2{
    display:flex;
    justify-content: center;
    outline:0;
    border:none;
    background-color: white;
}

.circulo2{
    width:4em;  
    height: 4em;
}

.png_netflix{
    width:40em;
}

.grey_netflix{
    color:grey;
}

.column_right{
    border-style: solid;
    border-color: hsl(304, 100%, 50%); 
    min-height: 100vh;
}

.bird_logo{
    max-width: 33px;
    max-height: 34.6px;
}

.twitter_botton{
    width: 100%;
}

button{
    width:8em;
    display:flex;
}

.home{
    width:2em;
    
}

.home_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.word_home{
    font-style: bold;
}

.explore_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.explore{
    width:2em;
    
}

.word_explore{
    font-style: bold;
}

.notifications_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.notifications{
    width:2em;
    
}

.word_notifications{
    font-style: bold;
}

.messages_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.messages{
    width:2em;
    
}

.word_messages{
    font-style: bold;
}

.bookmark_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.bookmark{
    width:2em;
    
}

.word_bookmark{
    font-style: bold;
}

.lists_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.lists{
    width:2em;
    
}

.word_lists{
    font-style: bold;
}

.profile_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.profile{
    width:2em;
    
}

.word_profile{
    font-style: bold;
}

.more_button{
    width:100%;
    display:flex;
    justify-content: start;
    align-items: center;
}

.more{
    width:2em;
    
}

.word_more{
    font-style: bold;
}

ul{
    list-style: none;
    padding:0;
}

.blue_botton{
    display:flex;
    justify-content: center;
}

li{
    line-height: 1em;
    margin:2em;
}

.foto_perfil{
    width:3em;
}

.avatar_button{
    width:16em;
    display: flex;
    align-items: center;   
}

.dots{
    width:2em;       
}

.avatar_button{
    width:100%;
    height: 4em;
    display:flex;
    justify-content: space-between;
    padding:2em;
}

.avatar_name{
    display:flex;

}

.nombre{
    text-align: left;
    
}

